<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reddit lurk3r</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap5css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {% block content %}
    {% include "navbar.html" %}
    {% include "card-post.html" %}
    {% endblock %}
    
    <script src="/js/bootstrap5js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
